# Compiled Python Files #
#########################
*.pyc

# Edited text files #
#####################
*~

# dist folder #
###############
dist/

# .cache #
##########
.cache/

# .egg #
########
*.egg-info/
